<h1>Seja bem vindo a Criação </h1>

<mat-card>
  <mat-form-field>
    <p>Nome do seu site</p>
    <input matInput placeholder="Nome do site" (change)="NomeDoSite()" >
    <p>Titulo do site</p>
    <input matInput placeholder="Descrição do site" >
    <p>Cor do titulo do site</p>
    <input matInput placeholder="Cor do titulo do site">
    <p>Cor do fundo do site</p>
    <input matInput placeholder="Cor do fundo do site" >
    <p>Cor do texto do site</p>
    <input matInput placeholder="Cor do texto do site" >
    <p>Tamnho da fonte do titulo</p>
    <input matInput placeholder="Tamnho da fonte do titulo" >
    <p>Tamnho da fonte do texto</p>
    <input matInput placeholder="Tamnho da fonte do texto" >
    <br>
    <br>  
    <button (click)="Salvar()">Salvar</button>
  </mat-form-field>
</mat-card>

